:root {

}
body {
    background: url(./assets/bg.png) no-repeat top center/cover;
    height: 100dvh;
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    margin: 100px;
}

button {
    float: right;
    background-color: #E0C3FC;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0,1s ease-in;
}

button:hover {
    background-color: #ac70e4;
}

a {
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
}

a:link {
    color: black;
}

a:hover {
    color:black;
    background-color: rgba(134, 58, 206, 0.2);
    padding: 8px;
    border-radius: 20px;
}

a:visited {
    color: #c589fd;
}

#register-container {
    display: none;
}

#recover-container {
    display: none;
}

