* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --highlight-font: "Handjet", sans-serif;
    --container-bg: #D1604D;
    --highlight-bg: #201D1E;
    --text-darkerbg-color: #F8F5F1;
    --text-lighterbg-color: #201D1E;
    --main-text-font: "Dosis", sans-serif;
}

body {
    background-color: #7EBDC2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

header {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 4.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #7EBDC2;
    margin: 0;
}

header > img {
    height: auto;
    max-height: 4em;
    width: auto;
}

header a {
    text-decoration: none;
    margin: 0.5em;
    font-family: var(--highlight-font);
    font-weight: bold;
    text-transform: uppercase;
    color: #231f20;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 0.1em;
}

header a:hover {
    background-color: #4EA1A6;
}

#container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--container-bg);
    padding: 5em 2em 4em 2em;
}

#container > section {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    font-family: var(--main-text-font);
}

section > p {
    width: 80%;
}

section > img {
    width: 80%;
    max-height: 12em;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;
    display: none;
    box-shadow: 1px 1px 4px 1px rgba(194, 80, 60, 0.911)
}

section > img.active {
    display: block;
}


#container > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 30%;
    text-align: center;
    border: none;
    margin-left: 2em;
    padding: 1em;
    border-radius: 2em;
    background-color: var(--highlight-bg);
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.123);
    
}

aside > h1 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-family: var(--highlight-font);
    color: var(--text-darkerbg-color) ;
}

aside > a {
    width: 90%;
    display: block;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
    background-color: #363032;
    border-radius: 0.4em;
    padding: 0.8em;
    font-family: var(--main-text-font);
    color: #B2A9AC;
    transition: background-color 0.2s ease-in-out;
}

aside > a:hover {
    background-color: #564D50;
    text-decoration: none;
    color: #B2A9AC;
}

aside > a:active {
    box-shadow: inset 1px 1px 2px 1px #4d484a;
}

#headerReferenciasPage {
    border-bottom: 1px solid #201d1e21;
}

#referenciasPage, #historiaPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--container-bg);
    padding: 2em;
    margin: auto 0;
    position: relative;
    width: 80%;
    height: fit-content;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

#historiaPage {
    width: 100%;
}

#referenciasPage > h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: var(--highlight-font);
    color: var(--text-lighterbg-color);
    font-size: 1.5em;
}

#referenciasPage ol li {
    font-family: var(--main-text-font);
    color: var(--text-darkerbg-color);
    font-size: 1em;
    margin-bottom: 0.2em;
    text-align: justify;
    list-style: upper-roman;
}

#referenciasPage > ol li a {
    text-decoration: none;
    color: #564D50;
}

#historiaPage > p {
    text-align: justify;
    font-family: var(--main-text-font);
    text-align: center;
    line-height: 1.5em;
}

#historiaPage > .quote {
    font-weight: bold;
}


footer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--highlight-bg);
    color: var(--text-darkerbr-color);
    text-align: center;
    padding-top: 0.3em;
}

footer > p {
    margin-top: 0.8em;
    color: var(--text-darkerbg-color);
    font-family: var(--highlight-font);
}

#socialLinks {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 1em 0;
}


#socialLinks > a {
    width: auto;
    margin-left: 0.2em;
    padding: 0.4em;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    text-decoration: none;
    color: var(--text-darkerbg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#socialLinks > a:hover {
    background-color: rgba(239, 230, 221, 0.479);
}

